<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fingerprint Control</title>
</head>
<body>
    <h1><a href="/">Fingerprint Control</a></h1>
    <form action="/empty" method="post">
        <button type="submit">Empty Database</button>
    </form>
    <form action="/enroll" method="get">
        <button type="submit">Enroll Fingerprint</button>
    </form>
    <form action="/read" method="post">
        <button type="submit">Read Fingerprint</button>
    </form>
    <p>{{ message }}</p>    
</body>
</html>
