<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fingerprint Control</title>
</head>
<body>
    <h1><a href="/">Fingerprint Control</a></h1>
    <button onclick="location.href='/empty'">Empty Database</button>
    <button onclick="location.href='/enroll'">Enroll Fingerprint</button>
    <button onclick="location.href='/read'">Read Fingerprint</button>
    <p>
    {{message}}
    </p>    
</body>
</html>
